/* Top Field */

.kl-private-quill-wrapper-Lkqws1 {
    width: 90% !important;
};

.kl-private-quill-wrapper-Lkqws1 strong {
    font-family: 'Sohne Fett' !important;
}

/* Email Field */

.go3523391191 {
    border: 0 !important;
    border-radius: 0 !important;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}

.go3523391191::placeholder {
    color: rgba(0,0,0,0.6) !important;
}

.go3523391191:hover {
    border: 0 !important;
    border-radius: 0 !important;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
    border-color: black !important;
}

/* Telephone Field */

.go3843968785 {
    border: 0 !important;
    border-radius: 0 !important;
    border-bottom: 1px solid black !important;
}

.go3843968785 > div:nth-child(1) {
    padding-left: 20px !important;
}

.go3843968785 input::placeholder {
    color: rgba(0,0,0,0.6) !important;
}

/* Telephone dropdown */

.go1516186985 span,
.go1516186985 div
 {
    font-family: 'Sohne Buch' !important;
    font-size: 13px !important;
}

.go3843968785 > div:nth-child(1) {
    width: 30px !important;
}

.go3843968785 > div:nth-child(1) > svg {
    display: none !important;
}

/* Button */

.go2985267405 {
    border: none !important;
    border-top: 1px solid black !important; 
    height: 28px !important;
    border-color: black !important;
}

.go2985267405:hover {
    border: none !important;
    border-top: 1px solid black !important; 
}

/* Close Button */

.klaviyo-close-form {
    outline: none !important;
    border-left: 1px solid black !important;
    border-bottom: 1px solid black !important;
    padding: 5px !important;
}